@font-face {
  font-family: 'SFPRODISPLAY';
  font-weight: 800;
  font-style: normal;
  src: local('SFPRODISPLAY'), url('SFPRODISPLAY-BOLD.otf') format('opentype');
}
@font-face {
  font-family: 'SFPRODISPLAY';
  font-weight: 500;
  font-style: normal;
  src: local('SFPRODISPLAY'), url('SFPRODISPLAY-MEDIUM.otf') format('opentype');
}
@font-face {
  font-family: 'SFPRODISPLAY';
  font-weight: 400;
  font-style: normal;
  src: local('SFPRODISPLAY'), url('SFPRODISPLAY-REGULAR.otf') format('opentype');
}
